# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual environment
# =====================
.venv/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/
*.ipynb

# =====================
# Data
# =====================
data/raw/
data/processed/

# =====================
# macOS
# =====================
.DS_Store

# =====================
# Research / misc
# =====================
*.pdf
Other*
untitled*.py
